body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #070825;
    min-height: 100vh;
    width: 100%;
}

.block {
    background: rgba(0, 0, 0, 0.3);
    padding: 1vw;
    margin: 5px 0;
    border-radius: 15px;

    color: white;
    position: relative;
}

.block-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
}

/* Links */
a {
    color: #ff9900;
    /*text-decoration: none;  !* removes underline, optional *!*/
    font-weight: bold;
}

a:hover {
    color: #ffb84d;
    text-decoration: underline;
}

a:visited {
    color: #ffd699;
}


.nice-buttons {
    background-color: #edf2f7;
    width: fit-content;
    border-radius: 5px;
    margin: 0 auto;
}

.nice-buttons label {
    align-items: center;
    font-weight: bold;
    color: #838585;
    margin: 4px;
    padding: 5px 10px;
}

.nice-buttons label:hover {
    cursor: pointer;
    color: #3c4043;
}

.nice-buttons label:has(input[type="checkbox"]:checked) {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #3184d1;
}
