span {
    margin-bottom: 0.5rem;
}

.check-button{
    margin-top: 0.5rem;
}

/*#opensubtitle-credentials {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 0.5rem;*/
/*}*/

/*#opensubtitle-credentials input {*/
/*    margin-top: 0;*/
/*    margin-bottom: 1rem;*/
/*}*/

#opensubtitle-credentials button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
