span {
    margin-bottom: 0.5rem;
}

.check-button{
    margin-top: 0.5rem;
}

/* CREDENTIAL CHECK STYLE */
.error-message {
    color: #dc3545;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: rgba(220, 53, 69, 0.1);
}

.success-message {
    color: #28a745;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: rgba(40, 167, 69, 0.1);
}

/*#opensubtitle-credentials {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 0.5rem;*/
/*}*/

/*#opensubtitle-credentials input {*/
/*    margin-top: 0;*/
/*    margin-bottom: 1rem;*/
/*}*/

#opensubtitle-credentials button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.nice-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    /*width: 50%;*/
}

.nice-textbox {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .nice-label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.nice-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.nice-textbox:focus {
    ~ .nice-label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight:700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
}

/* reset input */
.nice-textbox{
    &:required,&:invalid { box-shadow:none; }
}


